{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}


<div class="alert alert-success alert-dismissible fade show" role="alert">
     <h6>Hey  </h6> {{email }}{{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<br/>
{% endfor %}
{% if email %} 
      <h1> Hello {{ email }} </h1> 
      <h1> password : {{ password }}</h1>
      <h2> I found this info </h2>
      name : {{ pw_to_check.name }} <br/>
      email : {{ pw_to_check.email }}<br/>
      pw :{{pw_to_check.password_hash}} <br/>
      passed : {{ passed }}
      <br/>
{% else %} 
      <h1> what is your email and password </h1> 
      <br/>

      <form method = "POST">
        {{ form.hidden_tag() }}
        {{ form.email.label(class="form-label") }}
         {{ form.email(class="form-control") }}
         <br/>

         {{ form.password_hash.label(class="form-label") }}
         {{ form.password_hash(class="form-control") }}
         <br/>
        {{ form.submit(class="btn btn-primary") }}
      </form>

{% endif %} 

{% endblock %}
