{% extends 'base.html' %}
{% block content %}

{% for message in get_flashed_messages() %}


<div class="alert alert-success alert-dismissible fade show" role="alert">
     <h6>Hey  </h6> {{name }}{{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<br/>
{% endfor %}



{% if id == current_user.id %}
    <!-- this is jinja if else to display the form and every user who is getting added in the database will be diplayed. -->
      <h1> update User..... </h1>   

      Id to update : {{id}}
      current ID : {{current_user.id}}


      <br/>

      <form action ="/update/{{name_to_update.id}}" method = "POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(class="form-label") }}
        <!-- if the form we need to give the value than we need to use the value attribute for that form -->
        {{ form.name(class="form-control", value=name_to_update.name) }}

        <br/>
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", value=name_to_update.username) }}
        <br/>  

         <br/>
         {{ form.email.label(class="form-label") }}
         {{ form.email(class="form-control", value=name_to_update.email) }}
          <br/>

        <br/>
          {{ form.favorite_color.label(class="form-label") }}
          {{ form.favorite_color(class="form-control", value=name_to_update.favorite_color) }}
          <br/> 
        {{ form.submit(class="btn btn-primary") }}

        <a href={{url_for('delete', id=name_to_update.id)}} class="btn btn-danger">Delete</a>  

      </form>
    <br/>
    <br/>
    <br/>
{% else %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
  <h6>Hey  </h6> You are not authorized to update this user.
 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<br/>

{% endif %}


{% endblock %}
